
<div class="row">
    <div class="col-sm-2 col-md-3"></div>
    
    <div class="col-sm-8 col-md-6">
        <form >
  
            <label for="em" class="form-label">Email</label>
            <input type="email" class="form-control" id="em">
       
            <label for="pw" class="form-label">Password</label>
            <input type="password" class="form-control" id="pw">
        
              <label for="cpw" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" id="cpw">
           
      
         
            <label for="inputAddress" class="form-label">Address</label>
            <input type="text" class="form-control" id="inputAddress" >
      
      
       
      
          
         
            <button type="submit" class="btn btn-primary  d-block  m-3">Register</button>
         
        </form>
    </div>
    
    <div class="col-sm-2 col-md-3"></div>

</div>