<div class="row">
  <div class="col-sm-2 col-md-3"></div>

  <div class="col-sm-8 col-md-6">
    <ul class="nav nav-tabs " id="tabs">
      <li class="nav-item">
        <a class="nav-link"  routerLink="vegetables" routerLinkActive="active">Vegetables</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="fruits" routerLinkActive="active">Fruits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="groceries" routerLinkActive="active">Groceries</a>
      </li>
      
    </ul>


  </div>
  
  <div class="col-sm-2 col-md-3"></div>



  <div class="container">
    <router-outlet></router-outlet>
   </div>
</div>